body {
    background-image: url('https://www.brabbucontract.com/img/projects/hilton-astana-hotel-kazakhstan/website/slide/hilton-astana-hotel-kazakhstan-1.jpg');
    background-size: 200vh 100vh;
    background-repeat: no-repeat;
}
